<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/quotationStyles.css")" rel="stylesheet" />
      
    
</head>
<body> 
    @model NotowaniaMVC.Application.Quotations.ViewModels.NewQuotationViewModel
     

    @{
        ViewData["Title"] = "Notowania";
    }

    <table class="columns" style="margin-top:50px">
        <tr class="columns">
            <td class="bdTbl">
                <table class="columns">
                    <tr>
                        <td colspan="2" height="30px">
                            @*@using (Html.BeginForm("SavePdf", "Quotations", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <span>Select File:</span>
                                <input type="file" name="postedFile" />
                                <hr />
                                <input type="submit" value="Upload" />
                                <br />
                                <span style="color:green">@ViewBag.Message</span>
                            }*@
                            @using (Html.BeginForm("SavePdf", "Quotations", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            

                                <label for="PdfFile" class="btnSavePdf" >
                                    <i class="fa fa-cloud-upload"></i>
                                    <img src="@Url.Content("~/Content/AddPdf.png")" height="40" width="40" />
                                </label>
                                <input id="PdfFile" type="file" name="PdfFile" value="PdfFile"/> 
                                @Html.ValidationMessageFor(model => model.PdfFile, "", new { @class = "text-danger" })
                                @*<input type="submit" value="Upload File" id="btnSubmit" height="40" width="40" src="@Url.Content("~/Content/PdfSave.png")">*@
                                <button class="btnSavePdf" type="submit">
                                    <img src="@Url.Content("~/Content/PdfSave.png")" height="40" width="40" />
                                </button>

                                @ViewBag.FileStatus
                            }
                        </td>
                    </tr>
                    <tr>
                        <td height="60px">
                            <table class="columns">
                                <tr class="columns" height="50%">
                                    <td class="tableColumns" colspan="2">
                                        @Html.DisplayNameFor(model => model.PdfName)
                                    </td>
                                    <td class="columns" width="50%"></td>
                                </tr>
                                <tr class="columns" height="50%">
                                    <td class="tableColumns" width="50%">
                                        @Html.DisplayNameFor(model => model.PdfName)
                                    </td>
                                    <td class="tableColumns">
                                        <button class="btnDownload" formaction="@Url.Action("DownloadPdf")">
                                            <img src="@Url.Content("~/Content/PdfDownload.png")" width="40" height="40" />
                                        </button>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="columns">
                        <td class="columns">
                            <table class="columns">
                                <tr class="columns"></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            @using (Html.BeginForm("Add", "Quotations", FormMethod.Post, new { @area = "Admin", @role = "form" }))
            {

                @Html.AntiForgeryToken()
                <td class="bdTbl">

                    <table class="columns">
                        <tr class="columns">
                            <td class="columns">
                                <table class="columns">
                                    <tr class="columns">
                                        <td class="columns">
                                            @(Html.Label("Data notowania: "))
                                        </td>
                                        <td class="columns"> 
                                            @Html.EditorFor(model => model.QuotationDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                             
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="columns">
                            <td class="columns">
                                <table class="columns">
                                    <tr class="columns">
                                        <td class="columns">@(Html.Label("Typ notowania: "))</td>
                                        <td class="columns">@(Html.DropDownList("lbfQuotationTypesOptions", new SelectList(Model.QuotationTypes), new { @class = "textBox form-control" }))</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="columns">
                            <td class="columns">
                                <table class="columns">
                                    <tr class="columns">
                                        <td class="columns">@(Html.Label("Typ paliwa: "))</td>
                                        <td class="columns">@(Html.DropDownList("lbfFuelTypesOptions", new SelectList(Model.FuelTypes), new { @class = "textBox form-control" }))</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="columns">
                            <td class="columns">
                                <table class="columns">
                                    <tr class="columns">
                                        <td class="columns">@(Html.Label("Waluta: "))</td>
                                        <td class="columns">@(Html.DropDownList("lbfCurrencyTypesOptions", new SelectList(Model.CurrencyTypes), new { @class = "textBox form-control" })) </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="columns">
                            <td class="columns">
                                <table class="columns">
                                    <tr class="columns">
                                        <td class="columns">@(Html.Label("Jednostka: "))</td>
                                        <td class="columns">@(Html.DropDownList("lbfUnitsOptions", new SelectList(Model.Units), new { @class = "textBox form-control" })) </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="columns">
                            <td class="columns">
                                <table class="columns">
                                    <tr class="columns">
                                        <td class="columns">@(Html.Label("Cena netto minimalna: "))</td>
                                        <td class="columns">@(Html.TextBoxFor(model => model.PriceNettoMin, new { @class = "textBox form-control" }))</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="columns">
                            <td class="columns">
                                <table class="columns">
                                    <tr class="columns">
                                        <td class="columns">@(Html.Label("Cena netto maksymalna: "))</td>
                                        <td class="columns">@(Html.TextBoxFor(model => model.PriceNettoMax, new { @class = "textBox form-control" }))</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="columns">
                            <td class="columns">
                                <table class="columns">
                                    <tr class="columns">

                                        <td style="column-span: all; flex-flow: wrap; justify-content: space-around; width: 100%; height: 100%; ">
                                            <button class="btnAddCancel" type="submit">
                                                <img src="@Url.Content("~/Content/Save.png")" height="40" width="40" />
                                            </button>
                                        </td>

                                        <td style="column-span: all; flex-flow: wrap; justify-content: space-around; width: 100%; height: 100%; ">
                                            <button class="btnAddCancel" type="reset" onclick="@Url.Action("Add", "Quotations")">
                                                <img src="@Url.Content("~/Content/Cancel.png")" height="40" width="40" />
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            }
        </tr>
    </table>
   
</body>
</html> 